* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

section {
  margin: 60px auto;
  max-width: 1000px;
}

.title-image-box {
  text-align: center;
  padding: 0 80px;
}

.title-image-box img {
  width: 100%;
  max-width: 800px;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 5vw;
}

.carousel-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin: 20px auto;
  width: 80%;
}

.carousel-image-and-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 50px;
}

.carousel-arrow {
  background-color: transparent;
  border-style: none;
  width: 120px;
}

.fa-arrow-circle-left,
.fa-arrow-circle-right {
  font-size: 30px;
  cursor: pointer;
}

.carousel-image-box {
  width: 70%;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  vertical-align: middle;
}

.carousel-dot {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 2.5;
  margin: 0 15px;
  color: grey;
}
